// imported fonts 
@import url('https://fonts.googleapis.com/css?family=Damion|Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');

// colors  
$homeBrandColor: #73c7d5;
$servicesBrandColor: #b1494f;
$hoverServicesNavColor: #df5b63;
$aboutNavColor: #91778d;
$whiteColor: #fff;
$aboutGreenColor: #a1c96b;
$aboutBtnColor: #a1ca6c;
$fbColor: #4f689e;
$twitterColor: #74c7d5;
$googlePlusColor: #df5c64;
$linkedColor: #3e61af;
$linePortfolio: #94b963;
$orangeBtn: #f5c149;
$contactsNavColor: #82c8bd;
$inputsBackgroundColor: #68a097;

// fonts  
$fontMain: 'Lato', sans-serif;
$fontLogo: 'Damion', sans-serif;

// media-query sizes 
$smartphone: "only screen and (max-width : 320px)";
$iPads-potrait: "only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
$iPads-ladscape: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";
$desktop: "only screen and (max-width : 1140px)";
$laptop: "only screen and (min-width : 1141px) and (max-width : 1367px)";
$largeThanlaptop: "only screen and (min-width : 1368px) and (max-width : 1599px)";
$largeScreen: "only screen  and (min-width : 1600px)";