@import url("https://fonts.googleapis.com/css?family=Damion|Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.logo {
  font-family: "Damion", sans-serif;
  font-size: 50px;
  text-decoration: none;
  color: #fff;
}

.logo:hover {
  text-decoration: none;
  color: #fff;
}

.home-nav ul {
  list-style-type: none;
  position: absolute;
  right: 0;
  top: -3%;
}

.home-nav ul li {
  position: relative;
  display: inline-block;
  padding: 30px 0 10px 0;
  cursor: pointer;
  overflow: hidden;
}

.home-nav ul li:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 5px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: #73c7d5;
}

.home-nav ul li:hover:before {
  height: 100%;
}

.home-nav ul li:active, .home-nav ul li.menu-active {
  display: inline-block;
  padding: 30px 0 10px 0;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.home-nav ul li:active:before, .home-nav ul li.menu-active:before {
  height: 100%;
}

.home-nav ul li a {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #fff;
  margin: 0 25px;
  cursor: pointer;
  z-index: 99;
}

.home-nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.services-nav ul {
  list-style-type: none;
  position: absolute;
  right: 0;
  top: -3%;
}

.services-nav ul li {
  position: relative;
  display: inline-block;
  padding: 30px 0 10px 0;
  cursor: pointer;
  overflow: hidden;
}

.services-nav ul li:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 5px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: #df5b63;
}

.services-nav ul li:hover:before {
  height: 100%;
}

.services-nav ul li:active, .services-nav ul li.menu-active {
  display: inline-block;
  padding: 30px 0 10px 0;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.services-nav ul li:active:before, .services-nav ul li.menu-active:before {
  height: 100%;
}

.services-nav ul li a {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #fff;
  margin: 0 25px;
  cursor: pointer;
  z-index: 99;
}

.services-nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.about-nav ul {
  list-style-type: none;
  position: absolute;
  right: 0;
  top: -3%;
}

.about-nav ul li {
  position: relative;
  display: inline-block;
  padding: 30px 0 10px 0;
  cursor: pointer;
  overflow: hidden;
}

.about-nav ul li:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 5px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: #91778d;
}

.about-nav ul li:hover:before {
  height: 100%;
}

.about-nav ul li:active, .about-nav ul li.menu-active {
  display: inline-block;
  padding: 30px 0 10px 0;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.about-nav ul li:active:before, .about-nav ul li.menu-active:before {
  height: 100%;
}

.about-nav ul li a {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #fff;
  margin: 0 25px;
  cursor: pointer;
  z-index: 99;
}

.about-nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.work-nav ul {
  list-style-type: none;
  position: absolute;
  right: 0;
  top: -3%;
}

.work-nav ul li {
  position: relative;
  display: inline-block;
  padding: 30px 0 10px 0;
  cursor: pointer;
  overflow: hidden;
}

.work-nav ul li:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 5px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: #a1ca6c;
}

.work-nav ul li:hover:before {
  height: 100%;
}

.work-nav ul li:active, .work-nav ul li.menu-active {
  display: inline-block;
  padding: 30px 0 10px 0;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.work-nav ul li:active:before, .work-nav ul li.menu-active:before {
  height: 100%;
}

.work-nav ul li a {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #fff;
  margin: 0 25px;
  cursor: pointer;
  z-index: 99;
}

.work-nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.contacts-nav ul {
  list-style-type: none;
  position: absolute;
  right: 0;
  top: -3%;
}

.contacts-nav ul li {
  position: relative;
  display: inline-block;
  padding: 30px 0 10px 0;
  cursor: pointer;
  overflow: hidden;
}

.contacts-nav ul li:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 5px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: #82c8bd;
}

.contacts-nav ul li:hover:before {
  height: 100%;
}

.contacts-nav ul li:active, .contacts-nav ul li.menu-active {
  display: inline-block;
  padding: 30px 0 10px 0;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.contacts-nav ul li:active:before, .contacts-nav ul li.menu-active:before {
  height: 100%;
}

.contacts-nav ul li a {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #fff;
  margin: 0 25px;
  cursor: pointer;
  z-index: 99;
}

.contacts-nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/*  Home page */
.homeCover {
  background: url("../images/home-page.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.homeCover::after {
  content: "";
  background: url("../images/lines.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 0.5;
  top: 0%;
  left: -25%;
  bottom: -5%;
  right: -25%;
  position: absolute;
  z-index: -1;
}

.homeCover::after {
  -webkit-box-shadow: 0px 90px 80px 0px #2b3d4f inset;
          box-shadow: 0px 90px 80px 0px #2b3d4f inset;
  -moz-box-shadow: 0px 90px 80px 0px #2b3d4f inset;
}

.home-banner {
  content: "";
  background: url("../images/reactangle-home.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 815px;
  opacity: 0.95;
  height: 150px;
  text-align: center;
  padding: 0 30px;
}

.home-banner .col-md-6 {
  padding: 0;
}

.home-banner .letters, .home-banner .col-md-6:first-child > p:first-child, .home-banner .col-md-6:first-child > p:last-child, .home-banner .big-letters {
  font-family: "Lato", sans-serif;
  color: #73c7d5;
  word-wrap: normal;
  overflow: hidden;
  text-align: right;
  padding-right: 10px;
}

.home-banner .col-md-6:first-child > p:first-child {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: -2rem;
  text-transform: uppercase;
}

.home-banner .col-md-6:first-child > p:last-child {
  font-size: 60px;
  font-weight: 300;
  text-transform: lowercase;
}

.home-banner .big-letters {
  font-size: 128px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -1.5rem;
}

.home-banner .dots {
  position: absolute;
  bottom: -200%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home-banner .dots > span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 3%;
  opacity: 0.55;
  cursor: pointer;
}

.home-banner .dots > span:hover {
  opacity: 1;
}

.home-banner .dots .active:active, .home-banner .dots .active {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #73c7d5;
  margin: 0 3%;
  opacity: 1;
}

.home-banner .arrows-settings, .home-banner .right-arrow, .home-banner .left-arrow {
  position: absolute;
  border: solid #fff;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  opacity: 0.55;
}

.home-banner .arrows-settings:hover, .home-banner .right-arrow:hover, .home-banner .left-arrow:hover {
  opacity: 1;
}

.home-banner .arrows {
  position: relative;
  top: -85%;
}

.home-banner .right-arrow {
  right: -50%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.home-banner .left-arrow {
  left: -50%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/*  Services page */
.servicesCover {
  background: url("../images/service-page.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.servicesCover::after {
  content: "";
  background: url("../images/services-layer.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 0.5;
  top: 0%;
  left: -25%;
  bottom: -5%;
  right: -25%;
  position: absolute;
  z-index: -1;
}

main {
  text-align: center;
  font-family: Lato;
  margin-bottom: 120px;
  color: #fff;
}

main h1 {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 89px;
  margin-bottom: 32px;
}

main .mainLetters .serviceParagraph, main .mainAboutLetters .serviceParagraph, main .mainWorkLetters .serviceParagraph {
  margin-bottom: 120px;
}

main .mainLetters p, main .mainAboutLetters p, main .mainWorkLetters p {
  font-size: 14px;
  opacity: 0.5;
  margin: 0;
}

main h3 {
  display: block;
  position: absolute;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  top: 55%;
  left: 55%;
  -webkit-transform: translate(-55%, -55%);
          transform: translate(-55%, -55%);
}

main h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

main h2 span {
  opacity: 0.5;
}

main h3 {
  font-weight: 300;
}

main .cards-services {
  margin: 0 auto;
}

main .cards-services div.col-sm-3:first-child div span {
  background: url("../images/lightball.png") no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

main .cards-services div.col-sm-3:nth-child(2) div span {
  background: url("../images/wand.png") no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

main .cards-services div.col-sm-3:nth-child(3) div span {
  background: url("../images/giars.png") no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

main .cards-services div.col-sm-3:nth-child(4) div span {
  background: url("../images/rocket.png") no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

main .card-item {
  background: url("../images/block.png") no-repeat;
  position: relative;
  display: block;
  height: 400px;
  width: 260px;
  margin-right: 20px;
}

main .card-item div {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 27%;
  display: block;
  height: 30%;
  width: 45%;
}

main .card-item div::after {
  content: "";
  display: block;
  position: absolute;
  height: 120%;
  width: 120%;
  top: -10%;
  left: -10%;
  border-radius: 50%;
  border: 5px solid #fff;
}

main .card-item p {
  display: block;
  position: absolute;
  font-size: 14px;
  bottom: 5%;
  padding: 0 20px;
}

/*  About page */
.aboutCover {
  background: url("../images/about-page.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.aboutCover::after {
  content: "";
  background: url("../images/about-layer.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 0.5;
  top: 0%;
  left: -25%;
  bottom: -5%;
  right: -25%;
  position: absolute;
  z-index: -1;
}

.mainAboutLetters p:first-child, .mainWorkLetters p:first-child {
  color: #e6d1e3;
}

.mainAboutLetters .meet-btn, .mainWorkLetters .meet-btn {
  width: 276px;
  border-radius: 5px;
  background-color: #a1c96b;
  margin: 55px 0 50px 0;
  position: relative;
  background: #a1c96b;
  border: 4px solid #a1c96b;
}

.mainAboutLetters .meet-btn p, .mainWorkLetters .meet-btn p {
  font-size: 25px;
  line-height: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  opacity: 1;
}

.mainAboutLetters .meet-btn:after, .mainWorkLetters .meet-btn:after, .mainAboutLetters .meet-btn:before, .mainWorkLetters .meet-btn:before {
  top: 70%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mainAboutLetters .meet-btn:before, .mainWorkLetters .meet-btn:before {
  border-color: rgba(161, 201, 107, 0);
  border-bottom-color: #a1c96b;
  border-width: 36px;
  margin-left: -36px;
}

.cards-about {
  margin: 0 auto;
}

.cards-about div.col-sm-3:first-child div:first-child span {
  background: url("../images/grey-user.png") no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 120px;
  display: block;
  z-index: 1;
}

.cards-about div.col-sm-3:nth-child(2) div:first-child span {
  background: url("../images/red-user.png") no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 120px;
  display: block;
  z-index: 1;
}

.cards-about div.col-sm-3:nth-child(3) div:first-child span {
  background: url("../images/grey-user.png") no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 120px;
  display: block;
  z-index: 1;
}

.cards-about div.col-sm-3:nth-child(4) div:first-child span {
  background: url("../images/grey-user.png") no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 120px;
  display: block;
  z-index: 1;
}

.cards-about .big-names h3 {
  font-weight: 600;
  font-size: 25px;
  white-space: pre;
  position: relative;
}

.cards-about .big-names .positionHuman, .cards-about .big-names:nth-child(1) p, .cards-about .big-names:nth-child(3) p, .cards-about .big-names:nth-child(4) p, .cards-about .big-names:nth-child(2) p {
  position: absolute;
  bottom: 29%;
  left: 40%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  white-space: pre;
  margin: 10px 0;
}

.cards-about .big-names:nth-child(1), .cards-about .big-names:nth-child(3), .cards-about .big-names:nth-child(4) {
  color: #c7b6c5;
}

.cards-about .big-names:nth-child(1) p, .cards-about .big-names:nth-child(3) p, .cards-about .big-names:nth-child(4) p {
  color: #a1ca6c;
}

.cards-about .big-names:nth-child(2) p {
  color: #ff8973;
}

.cards-about .big-names:nth-child(2) .card-item div::after {
  border: 5px solid #df5b63;
}

.cards-about .big-names .card-item {
  background: url("../images/block_about.png") no-repeat;
  position: relative;
  display: block;
  height: 400px;
  width: 260px;
  margin-right: 20px;
}

.cards-about .big-names .card-item div {
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 27%;
  display: block;
  height: 30%;
  width: 45%;
}

.cards-about .big-names .card-item div::after {
  content: "";
  display: block;
  position: absolute;
  height: 120%;
  width: 120%;
  top: -10%;
  left: -10%;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #91778d;
}

.cards-about .big-names .social-icons {
  display: inline-block;
  position: absolute;
  top: 80%;
  left: 55%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cards-about .big-names .social-icons span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 20px;
}

.cards-about .big-names .social-icons span:nth-child(1), .cards-about .big-names .social-icons span:nth-child(2), .cards-about .big-names .social-icons span:nth-child(3), .cards-about .big-names .social-icons span:nth-child(4) {
  background-color: #91778d;
}

.cards-about .big-names .social-icons :nth-child(1) {
  background: url("../images/facebook.png") no-repeat center center;
}

.cards-about .big-names .social-icons :nth-child(2) {
  background: url("../images/twit.png") no-repeat center center;
}

.cards-about .big-names .social-icons :nth-child(3) {
  background: url("../images/g+.png") no-repeat center center;
}

.cards-about .big-names .social-icons :nth-child(4) {
  background: url("../images/lin.png") no-repeat center center;
}

.cards-about .big-names:nth-child(2) span:nth-child(1) {
  background-color: #4f689e;
}

.cards-about .big-names:nth-child(2) span:nth-child(2) {
  background-color: #74c7d5;
}

.cards-about .big-names:nth-child(2) span:nth-child(3) {
  background-color: #df5c64;
}

.cards-about .big-names:nth-child(2) span:nth-child(4) {
  background-color: #3e61af;
}

/*  Work page */
.workCover {
  background: url("../images/work-page.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.workCover::after {
  content: "";
  background: url("../images/work-layer.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 0.5;
  top: 0%;
  left: -25%;
  bottom: -5%;
  right: -25%;
  position: absolute;
  z-index: -1;
}

.mainWorkLetters > p {
  color: #fff;
  opacity: 1 !important;
}

.portfolio {
  margin-top: 55px;
  margin-bottom: 45px;
  height: auto;
}

.portfolio .line {
  border-top: 1px solid #94b963;
  border-bottom: 1px solid #94b963;
}

.portfolio .line p {
  margin: 0;
  margin: 35px 0;
}

.portfolio .line .col-sm-6:nth-child(1) p {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  text-align: left;
  text-transform: uppercase;
}

.portfolio .line .col-sm-6:nth-child(2) p {
  font-size: 16px;
  font-weight: bold;
}

.portfolio .line .col-sm-6:nth-child(2) .row {
  text-align: right;
}

.portfolio .line .col-sm-6:nth-child(2) .row .col-sm-3:nth-child(1) {
  padding-right: 35px;
}

.portfolio .line .col-sm-6:nth-child(2) .row .col-sm-3:nth-child(2) p {
  background-color: #f5c149;
  padding: 5px 10px;
  margin: 30px 0;
  text-align: center;
  border-radius: 4px;
}

.gallery {
  padding: 0;
}

.gallery .col-sm-3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 200px;
  margin-bottom: 65px;
  background-size: contain;
  border-radius: 4px;
  max-width: 24%;
}

.gallery .col-sm-3 div > span {
  display: inline-block;
}

.gallery .row:nth-child(1) {
  max-width: 100%;
  height: auto;
  margin-left: 0;
}

.gallery .row:nth-child(1) .col-sm-3:nth-child(1) {
  background: url("../images/pic1.png") no-repeat center center;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
}

.gallery .row:nth-child(1) .col-sm-3:nth-child(2) {
  background: url("../images/pic2.png") no-repeat center center;
  margin-left: 15px;
  margin-right: 0px;
}

.gallery .row:nth-child(1) .col-sm-3:nth-child(3) {
  background: url("../images/pic3.png") no-repeat center center;
  margin-left: 15px;
}

.gallery .row:nth-child(1) .col-sm-3:nth-child(4) {
  background: url("../images/pic4.png") no-repeat center center;
  margin-left: 15px;
  margin-right: -15px;
}

.gallery .row:nth-child(2) {
  max-width: 100%;
  margin-left: 0;
}

.gallery .row:nth-child(2) .col-sm-3:nth-child(1) {
  background: url("../images/pic5.png") no-repeat center center;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
}

.gallery .row:nth-child(2) .col-sm-3:nth-child(2) {
  background: url("../images/pic6.png") no-repeat center center;
  margin-left: 15px;
  margin-right: 0px;
}

.gallery .row:nth-child(2) .col-sm-3:nth-child(3) {
  background: url("../images/pic7.png") no-repeat center center;
  margin-left: 15px;
}

.gallery .row:nth-child(2) .col-sm-3:nth-child(4) {
  background: url("../images/pic8.png") no-repeat center center;
  margin-left: 15px;
  margin-right: -15px;
}

.gallery .picture-heading {
  display: block;
  position: absolute;
  bottom: -40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  width: 100%;
  color: #727272;
  background-color: #fff;
  height: 50px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-transform: uppercase;
  font-weight: 400;
}

.gallery .picture-heading:after, .gallery .picture-heading:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.gallery .picture-heading:before {
  border-color: rgba(161, 201, 107, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}

/*  Contacts page */
.contactsCover {
  background: url("../images/contacts-page.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.contactsCover::after {
  content: "";
  background: url("../images/contacts-layer.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 0.5;
  top: 0%;
  left: -25%;
  bottom: -5%;
  right: -25%;
  position: absolute;
  z-index: -1;
}

.mainContact {
  margin-top: 115px;
  text-align: justify;
}

.mainContact h4 {
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

.mainContact h5 {
  font-size: 20px;
  line-height: 17px;
  color: #c0dfda;
  font-weight: 700;
  margin-bottom: 15px;
}

.mainContact p {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.mainContact div p:nth-child(3) {
  display: block;
}

.mainContact span {
  margin-left: 20px;
}

.mainContact .contacts-info {
  margin-top: 50px;
}

.mainContact .contacts-info div:first-of-type p span {
  margin-left: 40px;
}

.mainContact .contacts-info p:nth-of-type(2) span {
  text-decoration: underline;
}

.mainContact .map-img {
  background: url("../images/map.png") no-repeat center center;
  display: inline-block;
  position: absolute;
  width: 260px;
  height: 210px;
  border-radius: 4px;
  top: 60%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mainContact .nameInputs {
  display: inline;
  padding-left: 0px;
}

.mainContact .nameInputs div.form-group:nth-child(2) {
  padding-left: 10px;
}

.mainContact .nameInputs div {
  display: inline-block;
}

.mainContact .nameInputs div input {
  width: 260px;
  background-color: #68a097;
  border-color: transparent;
}

.mainContact .nameInputs div input::-webkit-input-placeholder {
  font-size: 16px;
  color: #82c8bd;
}

.mainContact .nameInputs div input:-ms-input-placeholder {
  font-size: 16px;
  color: #82c8bd;
}

.mainContact .nameInputs div input::-ms-input-placeholder {
  font-size: 16px;
  color: #82c8bd;
}

.mainContact .nameInputs div input::placeholder {
  font-size: 16px;
  color: #82c8bd;
}

.mainContact .nameInputs div input:-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 16px;
  color: #82c8bd;
}

.mainContact .nameInputs div input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 16px;
  color: #82c8bd;
}

.mainContact .nameInputs div input:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 16px;
  color: #82c8bd;
}

.mainContact .nameInputs div input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 16px;
  color: #82c8bd;
}

.mainContact .nameInputs div input:active, .mainContact .nameInputs div input:visited, .mainContact .nameInputs div input:focus {
  background-color: #fff;
  cursor: text;
}

.mainContact textarea {
  background-color: #68a097;
  border-color: transparent;
}

.mainContact textarea::-webkit-input-placeholder {
  font-size: 16px;
  color: #82c8bd;
}

.mainContact textarea:-ms-input-placeholder {
  font-size: 16px;
  color: #82c8bd;
}

.mainContact textarea::-ms-input-placeholder {
  font-size: 16px;
  color: #82c8bd;
}

.mainContact textarea::placeholder {
  font-size: 16px;
  color: #82c8bd;
}

.mainContact .sendBtn {
  display: block;
  position: absolute;
  left: 25%;
  bottom: -20%;
  width: 260px;
  height: 50px;
  border-radius: 4px;
  background-color: #df5c64;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
}

footer {
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #68a097;
}

footer .social-icons {
  display: block;
  margin: 35px 0;
  text-align: center;
}

footer .social-icons span {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 20px;
  cursor: pointer;
}

footer .social-icons span:nth-child(1), footer .social-icons span:nth-child(2), footer .social-icons span:nth-child(3), footer .social-icons span:nth-child(4) {
  background-color: #82c8bd;
}

footer .social-icons :nth-child(1) {
  background: url("../images/facebook-large.png") no-repeat center center;
}

footer .social-icons :nth-child(2) {
  background: url("../images/twit-large.png") no-repeat center center;
}

footer .social-icons :nth-child(3) {
  background: url("../images/g-plus-large.png") no-repeat center center;
}

footer .social-icons :nth-child(4) {
  background: url("../images/lin-large.png") no-repeat center center;
}

@media only screen and (min-width: 1600px) {
  .home-banner .right-arrow {
    right: -30%;
  }
  .home-banner .left-arrow {
    left: -30%;
  }
}

@media only screen and (max-width: 1140px) {
  .home-banner .right-arrow {
    right: -15%;
  }
  .home-banner .left-arrow {
    left: -15%;
  }
}

@media only screen and (min-width: 1141px) and (max-width: 1367px) {
  .home-banner .right-arrow {
    right: -20%;
  }
  .home-banner .left-arrow {
    left: -20%;
  }
}

@media only screen and (min-width: 1368px) and (max-width: 1599px) {
  .home-banner .right-arrow {
    right: -33%;
  }
  .home-banner .left-arrow {
    left: -33%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container-fluid {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }
}
/*# sourceMappingURL=styles.css.map */